task1/__pycache__
csv/rest/
csv/hadoop_miss.csv
csv/hadoop_rev1.csv
csv/mysql_miss.csv
csv/mysql_proba.csv
csv/mysql_rev1.csv
csv/proba.csv
csv/proba2.csv
task_1/__pycache__
task_2/__pycache__
task_3/__pycache__
task_4/__pycache__
task_4/venv4
task_5/__pycache__
task_5/venv
task_5/notes.txt
task_6/__pycache__
task_6/venv
hadoop_miss.csv
mysql_miss.csv